/* styles.css */

/* Body */
body {
    background-color: white;
    color: #333333;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar .sidebar-content {
    background-color: #231b2c;
}

/* Button */
.st-b3 {
    background-color: #3282B8;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.st-b3:hover {
    background-color: #0F4C75;
}
